<a href="https://colab.research.google.com/github/MuleMED/Machine-Learning/blob/main/2_2_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Print function

In [ ]:
print("Machine Learning with python")

Machine Learning with python

In [ ]:
#You can print numbers too
print(8)

8

In [ ]:
# You can also work on some math functions inside the print function
print(8+3)

11

**Programming Languages used for Machine Learning**


1.   R
2.   Python

#Basic Data types:


1.   int
2.   float
3.   str

In [ ]:
type(8)

int

In [ ]:
type(5.3)

float

In [ ]:
type("string")

str

#Constants and Variables

In [ ]:
super_hero = "superman"
print(super_hero)

superman

In [ ]:
marvel_super_hero = 'Captain America'
print(marvel_super_hero)

Captain America

In [ ]:
hero1,hero2,hero3 = 'Ironman',"Catwoman","Batman"
print(hero1)
print(hero2)
print(hero3)

Ironman
Catwoman
Batman

In [ ]:
x = y = z = 24
print(x)
print(y)
print(z)

24
24
24

#Input Function

In [ ]:
number_1 = int(input("Enter the first number: "))
number_2 = int(input("Enter the second number: "))


sum = number_1 + number_2
print(sum)

Enter the first number: 23
Enter the second number: 1
24

In [ ]:
# changing the data type
num = 6
print(float(num))

6.0